@import '@fontsource/fira-mono';

:root {
	--orange: #ff6700;
	--gray-1: #ebebeb;
	--gray-2: #c0c0c0;
	--blue-1: #3a6ea5;
	--blue-2: #004e98;

	--card-height: 22vh;
}

body {
	background-color: var(--gray-1);
}
